.navs .nav-link {
    font-size: 17px;
}
.home-div {
    background-image: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.5)),url(../src/assets/massage13.jpg);
    min-height: 100vh;
    background-size: cover;
}
.home-div h1{
    color: rgb(253, 253, 252);
    font-weight: bolder;
    font-size: 52px;
}
.home-div h5 {
    color: rgb(214, 144, 13);
    font-size: 25px;
}
.home-div p {
    color: rgb(211, 210, 210);
}
.home-div .home-btn {
    background-color: rgb(190, 103, 3);
    color: black;
}
.home-div .home-btn:hover {
    background-color: rgb(179, 87, 2);
    color: black;
}
.about-div  p {
    line-height: 30px;
}
.service-div p {
    line-height: 30px;
}
.testimony_star {
    color: rgb(252, 172, 25);
}
.footer-div {
    background-color: rgb(119, 62, 8);
}
.footer-div h2 {
    color: rgb(197, 98, 6);
}
.footer-div p {
    color: rgb(238, 182, 130);
}